@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');

body {
  font-family: 'Helvetica', 'Noto Color Emoji', 'Arial', 'sans-serif';
}

.popper-overflow[data-popper-escaped] {
  visibility: hidden;
  pointer-events: none;
}

::selection {
  background: #0a55ae;
}
